@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::placeholder {
    font-size: 1rem /* 16px */;
    line-height: 1.5rem /* 24px */;
  }
}

@layer utilities {
  .section-title {
    @apply tooltip-open tooltip tooltip-bottom left-1/2 z-10 -translate-x-1/2 pt-1 text-lg font-bold text-slate-600;
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }

  .item-w {
    @apply w-full max-w-[24rem];
  }

  .rw {
    @apply w-full max-w-[36rem] sm:mx-auto;
  }
}
